@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Games Games Games</h1>
    <p class="lead">Using ASP.NET, some great tutorials, and a bit of creativity, I threw together this collection of simple games. 
        The purpose of this project is simply for practice. The application was built using ASP.NET MVC architecture, 
        and I've kept the styling to a minimum using the styles.css file. I hope you enjoy your stay.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hello World!</h2>
        <p>
            The moment I wrote my first Hello World program in the beginner language, Greenfoot, was the moment I knew I wanted to code.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tic Tac Toe</h2>
        <p>In this simple version of Tic Tac Toe, largely based on Web Dev Simplified's Youtube channel, you are able to compete against JavaScript's random number generation function. Good luck!</p>
        <p>
            <a class="btn btn-default" href="~/Home/TTT1P">Play Now &raquo;</a>
            <a class="btn btn-default" href="https://www.youtube.com/channel/UCFbNIlppjAuEX4znoulh0Cw">Web Dev Simplied's Channel &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>About the Developer</h2>
        <p>I've developed an application and multiple websites on the front end, as well as a couple very simple games that mostly utilize RNG.</p>
    </div>
</div>