<link rel="stylesheet" href="~/Content/styles.css" />
<script src="~/Scripts/TTT1P.js" defer></script>

@{
    ViewBag.Title = "One-Player TicTacToe";
}

<h1>@ViewBag.Title</h1>

<div id="body">

    <div class="board" id="board">
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
        <div class="cell" data-cell></div>
    </div>

    <div class="winning-message" id="winningMessage">
        <div data-winning-message-text></div>
        <button id="restartButton">Restart</button>
    </div>

</div>